<md-card>
  <md-card-title align="center">Leaderboard</md-card-title>
  <md-nav-list>
    <md-list-item *ngFor="let player of players$ | async">
      <label md-line>{{player.$key | username | async}}</label>
      <md-progress-bar
          [color]="getCooldownColor(player.isLocked)"
          [mode]="'determinate'"
          [value]="player.lastPlayed | cooldownPercentage | async">
      </md-progress-bar>
    </md-list-item>
  </md-nav-list>
  <md-card-actions [ngSwitch]="challengeState$ | async" align="center">
    <ng-template [ngSwitchCase]="0">
      <!--<app-challenge-nostate></app-challenge-nostate>-->
    </ng-template>
    <ng-template [ngSwitchCase]="1">
      <button [routerLink]="['/challenge']" color="accent" md-raised-button>You are Challenged!</button>
    </ng-template>
    <ng-template [ngSwitchCase]="2">
      <button [routerLink]="['/challenge']" color="primary" md-button>You've challenged {{(opponent$ | async).$key | username | async}}</button>
    </ng-template>
    <ng-template [ngSwitchCase]="3">
      <button [routerLink]="['/challenge']" (click)="initChallenge()" color="primary" md-raised-button>Challenge {{(opponent$ | async).$key | username | async}}</button>
    </ng-template>
  </md-card-actions>
</md-card>