<md-card>
  <md-card-title align="center">Leaderboard</md-card-title>
  <md-list *ngIf="players$ | async; let players; else loading">
    <md-list-item *ngFor="let player of players">
      <label md-line>{{player.$key | username | async}}</label>
      <md-progress-bar
          [color]="getCooldownColor(player.isLocked)"
          [mode]="'determinate'"
          [value]="player.lastPlayed | cooldownPercentage | async">
      </md-progress-bar>
    </md-list-item>
  </md-list>
  <ng-template #loading>
    <md-spinner></md-spinner>
  </ng-template>
  <md-card-actions [ngSwitch]="challengeState$ | async" align="center">
    <ng-template [ngSwitchCase]="ChallengeState.ISCHALLENGED">
      <button [routerLink]="['/challenge']" color="accent" md-raised-button>You are Challenged!</button>
    </ng-template>
    <ng-template [ngSwitchCase]="ChallengeState.HASCHALLENGED">
      <button [routerLink]="['/challenge']" color="primary" md-button>You've challenged {{(opponent$ | async).$key | username | async}}</button>
    </ng-template>
    <ng-template [ngSwitchCase]="ChallengeState.CANCHALLENGE">
      <button [routerLink]="['/challenge']" (click)="initChallenge()" color="primary" md-raised-button>Challenge {{(opponent$ | async).$key | username | async}}</button>
    </ng-template>
  </md-card-actions>
</md-card>
