<form #usernameForm (submit)="updateUsername()">
  <md-card>
    <md-card-title align="center">Account settings</md-card-title>
    <md-card-content>
      <md-input-container>
        <input #usernameInput [(ngModel)]="username" mdInput name="username" type="text" placeholder="Username"
               minlength="4" maxlength="12" required>
        <md-error>{{usernameInput.validationMessage}}</md-error>
      </md-input-container>
    </md-card-content>
    <md-card-actions align="center">
      <button disabled="{{!usernameForm.checkValidity()}}" type="submit" color="primary" md-raised-button>Save</button>
    </md-card-actions>
    <md-error *ngIf="usernameResult">{{usernameResult}}</md-error>
  </md-card>
</form>