<form #loginForm (submit)="login()">
  <md-card>
    <md-card-content>
      <md-input-container>
        <input #emailInput [(ngModel)]="email" mdInput name="email" type="email"
               placeholder="E-mail" email required>
        <md-error>{{emailInput.validationMessage}}</md-error>
      </md-input-container>
      <md-input-container>
        <input #passwordInput [(ngModel)]="password" mdInput name="password" type="password"
               placeholder="Password" minlength="6" password required>
        <md-error>{{passwordInput.validationMessage}}</md-error>
      </md-input-container>
    </md-card-content>
    <md-card-actions align="center">
      <button disabled="{{!loginForm.checkValidity()}}" type="submit" md-button>Login</button>
    </md-card-actions>
    <md-error *ngIf="errorMessage">{{errorMessage}}</md-error>
  </md-card>
</form>