<div [ngSwitch]="challengeState$ | async">
  <ng-template [ngSwitchCase]="0">
    <app-challenge-nostate></app-challenge-nostate>
  </ng-template>
  <ng-template [ngSwitchCase]="1">
    <app-challenge-waiting></app-challenge-waiting>
  </ng-template>
  <ng-template [ngSwitchCase]="2">
    <app-challenge-is-challenged [challenge]="isChallenged$ | async" (challengeAccepted)="setChallengeAccepted($event)"></app-challenge-is-challenged>
  </ng-template>
  <ng-template [ngSwitchCase]="3">
    <app-challenge-has-challenged [challenge]="hasChallenged$ | async"></app-challenge-has-challenged>
  </ng-template>
  <ng-template [ngSwitchCase]="4">
    <app-challenge-can-challenge [opponent]="opponent$ | async" (initChallenge)="initChallenge()"></app-challenge-can-challenge>
  </ng-template>
  <ng-template [ngSwitchCase]="5">
    <app-challenge-first-place></app-challenge-first-place>
  </ng-template>
  <ng-template [ngSwitchCase]="null">
    <md-spinner></md-spinner>
  </ng-template>
</div>