<div [ngSwitch]="challengeState$ | async">
  <ng-template [ngSwitchCase]="0">
    <app-challenge-nostate></app-challenge-nostate>
  </ng-template>
  <ng-template [ngSwitchCase]="1">
    <app-challenge-is-challenged [challenge]="isChallenged$ | async"></app-challenge-is-challenged>
  </ng-template>
  <ng-template [ngSwitchCase]="2">
    <app-challenge-has-challenged [challenge]="hasChallenged$ | async"></app-challenge-has-challenged>
  </ng-template>
  <ng-template [ngSwitchCase]="3">
    <app-challenge-can-challenge [opponent]="opponent$ | async" (initChallenge)="initChallenge()"></app-challenge-can-challenge>
  </ng-template>
</div>